*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.header{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: contain;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
.logo{
    width: 150px;
    cursor:auto;   
}
.media{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 0;
}
nav .btn1{
    border-radius: 0%;
    background: transparent;
    font-weight:normal;
    margin: 0;
}
.btn1 img{
    width: 11px;
    margin-left: 10px;

}
nav .btn2{
    border-radius: 0%;
    background: transparent;
    font-weight:normal;
    margin: 0;
}
.btn2 img{
    width: 11px;
    margin-left: 10px;

}
nav .btn3{
    border-radius: 0%;
    background: transparent;
    font-weight:normal;
    margin: 0;
}
nav .btn4{
    border-radius: 0%;
    background: transparent;
    font-weight:normal;
    margin: 0;
}
.btn4 img{
    width: 11px;
    margin-left: 10px;

}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 10px;
    height: 37px;
    cursor: pointer;
}
.apply{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 12px;
    width: 60px;
    margin: 0;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
    color:#fff;
}
.header-content h1{
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
    
}
.search{
    display: flex;
    margin-top: 30px;
}
.search input{
    flex:auto;
    outline: 15px;
    margin-left: 20px;
    height:40px;
    border-radius: 6px;
    background-color: black;
    border-color: #fff;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
    }

    nav button {
        padding: 5px 10px;
    }

    nav .apply {
        padding: 4px 8px;
    }
    .header{
        height: 100vh;
    }
    .header-content {
        position: unset;
        transform: none;
        padding-top: 30px;
        

    }

    .header-content h1 {
        font-size: 30px;
    }

    .search {
        font-size: 12px;
        padding: 10px 15px;
     } 
    }
    